<!DOCTYPE html>
<html lang="en">
<title>AEL Lab</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="../static/w3-modified.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/awesome-icons.js"></script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-microscope,
    .fa-seedling {
        font-size: 200px
    }

    .col-container {
        display: table;
        /* Make the container element behave like a table */
        width: 100%;
        /* Set full-width to expand the whole page */
    }

    .col {
        display: table-cell;
        /* Make elements inside the container behave like table cells */
    }

    .center {
        line-height: 200px;
        height: 200px;
        text-align: center;
    }

    .center p {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
    }

    div.nav {
        font-size: 15.5px;
    }

    .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0
    }

    .w3-row.custom-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .w3-row.custom-flex.flex>.w3-col {
        flex: 1 0 290px;
    }

    .w3-row-padding.custom-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .w3-row-padding.custom-flex.flex>.w3-col {
        flex: 1 0 290px;
    }

    .fade {
        opacity: 1;
    }

    .dots{
        border-style: solid;
        border-width: thin;
    }
    .dots.active{
        background-color: green;
    }
    html {
        scroll-behavior: smooth;
    }
    .carousel-control-prev.slideshow:hover{
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
    }

    .carousel-control-next.slideshow:hover{
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 255, 255));
    }

</style>

<body>

    <!-- Navbar -->
    <div class="w3-top" style="z-index: 9999;">
        <div class="nav w3-green">
            <a class="w3-button w3-right w3-hide-large w3-hover-green w3-xlarge" href="javascript:void(0);" itle="Toggle Navigation Menu"  style="text-decoration:none"><i id="menu" class="fa fa-bars" onclick=myFunction() style="background-color: #03800e; padding: 5px;"></i>&nbsp;&nbsp;&nbsp;<i class='fas fa-phone' style="font-size: 15px; text-decoration:none;"> +91 123-4567890 </i>| <i class="fa fa-envelope" style="font-size: 15px;text-decoration:none;"> abc@iitg.ac.in </i> </a>
            <a class="w3-hide-small w3-hide-medium w3-padding-large float-lg-right" style="text-decoration:none;">Call
                Us: <i class='fas fa-phone'></i> +91 123-4567890 | <i class="fa fa-envelope"></i> abc@iitg.ac.in</a>
            
                <a href="../index.html" class="w3-button float-left w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none;"><b>Home</b></a>
            
            <a href="#" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none;"><b>Profile</b></a>
            
            <!-- <a href="./templates/teaching.html" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green"
                style="text-decoration:none"><b>Teaching</b></a> -->
            
            <a href="../templates/research.html" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none"><b>Research</b></a>
            
            <a href="#publications" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none;"><b>Publications</b></a>
            
            <a href="#" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none;"><b>Team</b></a>
            
            <a href="#gallery" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none"><b>Gallery</b></a>

            <a href="#news" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none"><b>News</b></a>
            
                <a href="#contact" class="w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-light-green"
                style="text-decoration:none"><b>Contact Us</b></a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-large w3-animate-top"
            style="background-color: #4de65a;">       
            <a href="../index.html" class="w3-bar-item w3-center w3-button w3-padding-large">Home</a>
            <a href="#" class="w3-bar-item w3-center w3-button w3-padding-large">Profile</a>
            <a href="../templates/research.html" class="w3-bar-item w3-center w3-button w3-padding-large">Research</a>
            <a href="../templates/publications.html" class="w3-bar-item w3-center w3-button w3-padding-large">Publications</a>
            <a href="#" class="w3-bar-item w3-center w3-button w3-padding-large">Team</a>
            <a href="#gallery" class="w3-bar-item w3-center w3-white w3-button w3-padding-large">Gallery</a>
            <a href="#news" class="w3-bar-item w3-center w3-button w3-padding-large">News</a>
            <a href="#contact" class="w3-bar-item w3-center w3-button w3-padding-large">Contact us</a>
        </div>
    </div>

    <!-- Header big size-->
    <header class="w3-container w3-white w3-border-bottom w3-border-light-grey w3-hide-small" style="padding-top:64px;">
        <div class="w3-row">
            <div class="w3-container w3-col l2"> </div>

            <div class="w3-container w3-col l2 w3-center w3-image">
                <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 150px;">
            </div>

            <div class="w3-container w3-col l5 w3-center">
                <h2 class="w3-text-green"><b>Agro-Ecotechnology Laboratory, AEL</b></h2>
                <h3><i>..linking science with society..</i></h3>
            </div>

            <div class="w3-container w3-col l2"></div>

        </div>
    </header>

    <!-- Small size -->
    <header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-large w3-hide-medium" style="padding-top: 64px;">
        <div class="w3-row">
            <div class="w3-container w3-col l2"></div>

            <div class="w3-container w3-col l2 w3-center w3-image">
                <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 100px;">
            </div>

            <div class="w3-container w3-col l5 w3-center">
                <h4 class="w3-text-green"><b>Agro-Ecotechnology Laboratory AEL</h4>
                <h6><i>..linking science with society..</i></h6>
            </div>

            <!-- <div class="w3-container w3-col l2"></div> -->

        </div>
    </header>

    <h2 class="w3-center" style="background-color: rgb(158, 255, 255);"> Profile </h2>
    <!-- First Grid -->
    <div class="w3-row-padding w3-container">
      <div class="w3-content ">
        <div class="w3-quarter w3-padding">
            <img class="w3-image w3-border" src="../img/smitra.jfif" style="padding: 10px;"> 
        </div>
        <div class="w3-threequarter">
          <h2 class="w3-border-bottom w3-border-orange"> Dr. Sudip Mitra, MNASc </h2>
          <h6 style="padding-top: 1px; line-height: 1.2;">
            <b>Head</b><br>
            Centre for Disaster Management & Research<br>

            <b>Associate Professor</b><br>
            School of Agro & Rural Technology<br><br>

            Fulbright Fellow, UC Davis, USA<br>

            Indian Institute of Technology Guwahati (IITG)<br>

            Email: <a href="mailto:sudipmitra@iitg.ac.in">sudipmitra@iitg.ac.in</a> / <a href="mailto:sudipmitra@yahoo.com">sudipmitra@yahoo.com</a><br>
            
            Profile: <a href="https://www.iitg.ac.in/crt/sudip_mitra/">https://www.iitg.ac.in/crt/sudip_mitra/</a>

          </h6>
        </div>
      </div>

    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-container w3-light-grey">
      <div class="w3-content">
        <div class="w3-quarter w3-padding">
            <h2 style="border-bottom: 2px solid rgb(247, 111, 58); width: 200px">Categories</h2>
            <ul style="list-style: none;margin-left: 0;padding-left: 1em;text-indent: -1em;">
              <li><span style="color:red;">»</span>&nbsp; <a href="#collapseEdu"> Educational Details</a></li><br>
              <li><span style="color:red;">»</span> &nbsp; <a href="#collapseAHS"> Awards/ Honors/ Scholarships</a></li><br>
              <li><span style="color:red;">»</span> &nbsp; <a href="#collapseIT"> Invited Talks</a></li><br>
              <li><span style="color:red;">»</span> &nbsp; <a href="#collapseTeach"> Teaching</a></li><br>
              <li><span style="color:red;">»</span> &nbsp; <a href="#collapseAR"> Administrative Responsibilities</a></li><br>
              <li><span style="color:red;">»</span> &nbsp; <a href="#collapseLM"> Life membership</a></li><br>
            </ul> 
        </div>

        
        <div class="w3-threequarter w3-border w3-padding">

          <!-- Education -->
          <h3 class="w3-round-large" href="#collapseEdu" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn1')";> Educational Details <i id="butn1" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
          </h3>
          <h6 class="collapse show" id="collapseEdu" style="padding-top: 1px; line-height: 1.2;">
            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1996-2000:</b>
              </div>
              <div class="w3-threequarter">
                Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1994-1996:</b>
              </div>
              <div class="w3-threequarter">
                M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1990–1994:</b>
              </div>
              <div class="w3-threequarter">
                B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
              </div>
            </div>
          </h6>

          <!-- Awards/ honors/ Scholarships -->
          <h3 class="w3-round-large" href="#collapseAHS" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn2')";> Awards/ Honors/ Scholarships <i id="butn2" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
          </h3>
          <h6 class="collapse show" id="collapseAHS" style="padding-top: 1px; line-height: 1.2;">
            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1996-2000:</b>
              </div>
              <div class="w3-threequarter">
                Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1994-1996:</b>
              </div>
              <div class="w3-threequarter">
                M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1990–1994:</b>
              </div>
              <div class="w3-threequarter">
                B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
              </div>
            </div>
          </h6>

          <!-- Invited Talks -->
          <h3 class="w3-round-large" href="#collapseIT" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn3')";> Invited Talks <i id="butn3" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
          </h3>
          <h6 class="collapse show" id="collapseIT" style="padding-top: 1px; line-height: 1.2;">
            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1996-2000:</b>
              </div>
              <div class="w3-threequarter">
                Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1994-1996:</b>
              </div>
              <div class="w3-threequarter">
                M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
              </div>
            </div>

            <div class="w3-row-padding w3-padding-16">
              <div class="w3-quarter">
                <b>1990–1994:</b>
              </div>
              <div class="w3-threequarter">
                B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
              </div>
            </div>
          </h6>

        <!-- Teaching -->
        <h3 class="w3-round-large" href="#collapseTeach" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn4')";> Teaching <i id="butn4" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
        </h3>
        <h6 class="collapse show" id="collapseTeach" style="padding-top: 1px; line-height: 1.2;">
          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1996-2000:</b>
            </div>
            <div class="w3-threequarter">
              Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1994-1996:</b>
            </div>
            <div class="w3-threequarter">
              M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1990–1994:</b>
            </div>
            <div class="w3-threequarter">
              B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
            </div>
          </div>
        </h6>

        <!-- AR -->
        <h3 class="w3-round-large" href="#collapseAR" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn5')";> Administrative Responsibilities <i id="butn5" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
        </h3>
        <h6 class="collapse show" id="collapseAR" style="padding-top: 1px; line-height: 1.2;">
          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1996-2000:</b>
            </div>
            <div class="w3-threequarter">
              Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1994-1996:</b>
            </div>
            <div class="w3-threequarter">
              M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1990–1994:</b>
            </div>
            <div class="w3-threequarter">
              B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
            </div>
          </div>
        </h6>

        <!-- Invited Talks -->
        <h3 class="w3-round-large" href="#collapseLM" data-toggle="collapse" style="background-color: #baf5ba; cursor:pointer;" onclick="changeIcon('butn6')";> Life Membership <i id="butn6" class=" fa fa-angle-double-up w3-right w3-padding" style="font-size: 20px"></i> 
        </h3>
        <h6 class="collapse show" id="collapseLM" style="padding-top: 1px; line-height: 1.2;">
          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1996-2000:</b>
            </div>
            <div class="w3-threequarter">
              Ph.D. from Indian Agricultural Research Institute (IARI), New Delhi, India. First Class Degree and selected for Jawaharlal Nehru Memorial Trust Scholarship for carrying out the PhD thesis research at the International Rice Research Institute (IRRI), Manila, Philippines
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1994-1996:</b>
            </div>
            <div class="w3-threequarter">
              M.Sc. from Indian Agricultural Research Institute (IARI), New Delhi, First Class Degree
            </div>
          </div>

          <div class="w3-row-padding w3-padding-16">
            <div class="w3-quarter">
              <b>1990–1994:</b>
            </div>
            <div class="w3-threequarter">
              B.Sc. (Hons) Agriculture, First Class Degree, Visva-Bharati, Santiniketan, India
            </div>
          </div>
        </h6>


        </div>
      </div>

    </div>

    


    <!-- Footer -->
    <footer id="contact" class="w3-container" style="background-color: #1b1b1b; color: white;">
        <div class="w3-center w3-content">
            <div class="w3-quarter w3-left-align">
                <h4><b>Contact Us</b></h4>
                <p><i class='fas fa-map-marker-alt'></i> &nbsp;&nbsp;&nbsp;Agro-Ecotechnology
                    Lab<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IIT
                    Guwahati<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guwahati 781039<br>
                    <i class='fa fa-envelope'></i> &nbsp;&nbsp;abc@iitg.ac.in<br>
                    <i class='fas fa-phone'></i> &nbsp;&nbsp;0123-456712</li>
                </p>

            </div>

            <div class="w3-quarter w3-left-align">

                <h4><b>Department Resources</b></h4>
                <li><a href="#" class="w3-button">Item 1</a></li>
                <li><a href="#" class="w3-button">Item 2</a></li>
                <li><a href="#" class="w3-button">Item 4</a></li>
                <li><a href="#" class="w3-button">Item 3</a></li>

            </div>

            <div class="w3-quarter w3-left-align">

                <h4><b>Important Links</b></h4>
                <li><a href="#" class="w3-button">Item 1</a></li>
                <li><a href="#" class="w3-button">Item 2</a></li>
                <li><a href="#" class="w3-button">Item 4</a></li>
                <li><a href="#" class="w3-button">Item 3</a></li>

            </div>

            <div class="w3-quarter w3-left-align">

                <h4><b>Quick Links</b></h4>
                <li><a href="#" class="w3-button">Item 1</a></li>
                <li><a href="#" class="w3-button">Item 2</a></li>
                <li><a href="#" class="w3-button">Item 4</a></li>
                <li><a href="#" class="w3-button">Item 3</a></li>

            </div>
        </div>
    </footer>
    <div class="w3-center" style="background-color: #000000; color: white;">© Agro-Ecotechnology Lab , Indian Institute
        of Technology
        Guwahati, All rights
        reserved. Designed by APC</div>


    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                var y = document.getElementById("menu");
                y.classList.remove("fa", "fa-bars");
                y.classList.add("fa", "fa-close");
            } else {
                x.className = x.className.replace(" w3-show", "");
                var y = document.getElementById("menu");
                y.classList.remove("fa", "fa-close");
                y.classList.add("fa", "fa-bars");
            }
        }
    </script>

    <script>
      function changeIcon(elem){
        var x = document.getElementById(elem);
        if (x.className.indexOf("fa fa-angle-double-down") == -1){
          x.className = x.className.replace(" fa fa-angle-double-up", "");
          x.className += " fa fa-angle-double-down";
          console.log("1");
        }
        else{
          x.className = x.className.replace(" fa fa-angle-double-down", "");
          x.className += " fa fa-angle-double-up";
          console.log("2");
        }
      }
    </script>

</body>

</html>