<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-group,.fa-dna {font-size:200px}

</style>
<body>
  
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-opacity-min">
    <a class="w3-bar-item w3-button w3-hide-large w3-left w3-padding-large w3-hover-white w3-xlarge w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a> -->
    <a href="./contact.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Publications</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Research</a>
    <a href="./teaching.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">PI</a>
    <a href="../index.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Home</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-large">
    <a href="./contact.html" class="w3-bar-item w3-center w3-button w3-padding-large">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-center w3-button w3-padding-large">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-center w3-button w3-padding-large">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-center w3-button w3-padding-large">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-center w3-button w3-padding-large">Publications</a>
    <a href="#" class="w3-bar-item w3-center w3-button w3-padding-large">Research</a>
    <a href="./teaching.html" class="w3-bar-item w3-center w3-button w3-padding-large">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-center w3-button w3-padding-large">PI</a>
    <a href="../index.html" class="w3-bar-item w3-center w3-button w3-padding-large">Home</a>
  </div>
</div>

<!-- Header big size-->
<header class="w3-container w3-white w3-border-bottom w3-border-light-grey w3-hide-small" style="padding-top:64px">
  <div class="w3-row">
    <div class="w3-container w3-col l2">    </div>
    
    <div class="w3-container w3-col l2 w3-center w3-image">
      <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 150px;">
    </div>
    
    <div class="w3-container w3-col l5 w3-center">
      <h2 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h2>
      <h3><i>..linking science with society..</i></h3>
    </div>
    
    <div class="w3-container w3-col l2"></div>

  </div>
</header>

<!-- Small size -->
<header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-large w3-hide-medium" style="padding-top:64px">
    <div class="w3-row">
      <div class="w3-container w3-col l2">    </div>
      
      <div class="w3-container w3-col l2 w3-center w3-image">
        <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 100px;">
      </div>
      
      <div class="w3-container w3-col l5 w3-center">
        <h4 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h4>
        <h4><i>..linking science with society..</i></h4>
      </div>
      
      <div class="w3-container w3-col l2"></div>
  
    </div>
  </header>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<!-- First Grid -->
<script src="../static/awesome-icons.js"></script>

<h2 class="w3-center w3-border-top w3-border-grey w3-text-white w3-blue">Research Work</h2>
<div class="w3-row-padding w3-container" style="padding-bottom: 64px;">
  <div class="w3-content">
    <div class="w3-padding-32">
      <h2 >Current Projects</h2>
      <h5>
        <ul style="list-style-type: number;">
            <li>
                Study of glacial dynamics and sustainable hydrological resources in Arunachal Himalaya (2020) as a part of National Mission for Sustaining the Himalayan Ecosystem (NHMSHE)
                <p class="w3-light-grey">sponsored by the DST Splice Climate Change Program [Principal Investigator: Prof. T. G. Sitharam, Co-PI: Prof. Chandan Mahanta, Prof. Arup K Sarma, Dr. A. Dey, Dr. Rishikesh Bharti, Dr. Archana Nair, Dr. Ajay Dashora, Prof. Rajib K Bhattacharjya, Dr. Ravi K., Dr. Sudip Mitra]. (Project Duration: 2020-2023, Project Grant: Rs. 2.7 Crs)</p>
            </li>
            <li>Assessing the Bio-availability of nutrients and reduction of heavy metals in soils amended with inorganic and organic wastes in the presence of AM Fungi and biochar<p class="w3-light-grey">Sponsored by DBT Twinning, Government of India, (2017-2020)</p> </li>
            <li>"Genome and Transcriptome Sequencing of Aromatic Rices from North Eastern Region (Group-3)"<p class="w3-light-grey">Sponsored by DBT, Government of India (2016-2019)</p> </li>
        </ul>
      </h5><br>
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <!-- <div class="w3-third w3-center">
      <i class="fa fa-chalkboard-teacher w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div> -->

    <div>
      <h1>Completed projects:</h1>
      <ul style="list-style-type: number;">
        <li>
            Molecular and physico-chemical characterization of selected ginger species from North Eastern region (2011 - 15). Sponsored by DBT, GoI. (Budget: 14.7 lakhs) 
        </li>
        <li>
            Use of GIS and Remote Sensing Technologies for Sustainable Management of Natural Resources in part of Kalang Watershed, Assam. Sponsored by Department of Science and Technology (DST), Government of India (2006-2008)
        </li>
        <li>Community Based Bioindustrial Watersheds for Sustainable use of Natural Resources and Enhanced Livelihoods (2007 - 12). Running in 4 states in India and sponsored by Jamsetji Tata Trust (budget approx 10 crore).</li>
        <li>The Gates Foundation, Cernegie Foundation and the Ministry of Foreign Affairs, the Netherlands funded project and coordinated by the Inter Academy Council-Amsterdam, the Netherlands. A Study on Science and Technology Strategies for Improving Agricultural Productivity, Food Security and Environment in Africa was carried out on request of the UN Secretary General Mr. Kofi Annan
        </li>
        <li>Technology Assessment Report on Agriculture Sector-- A National Energy Map of India, Technology Vision up to 2030. Funded by Office of the Principal Scientific Advisor to the Government of India.</li>
        <li>Inventory of Global Wetlands and their Carbon Stock, sponsored by Zentrum für Entwicklungsforschung or Center for Development Research (ZEF), University of Bonn, Germany.</li>
        <li>
        MoEF-IPCC authors' workshops-- to apprise the India authors in IPCC AR4 about the India's position on climate change (Ministry of Environment and Forest, Govt. of India).
        </li>
        <li>Information Sharing System (ISS) to enhance coping capacities of farming communities in dealing effectively with climate variability and climate change, sponsored by UNEP, British High Commission, Swiss Agency for Development and Cooperation.</li>
        <li>
            Pilot adaptation project to test Information Technology as a tool for information generation, dissemination and enabling farmers to cope and optimise management of climate variability, sponsored by United Nations Environment Programme (UNEP).
        </li>
        <li>Designing Policies that can Adapt to a World of Uncertainty, Change and Surprise: Adaptive Policymaking for Agriculture and Water Resources, sponsored by International Development Research Centre (IDRC ), Canada.</li>
        <li>
            Addressing Vulnerability to Climate Variability and Change through Assessment of Adaptation Issues and Options, sponsored by the World Bank.
Scoping Study for Climate Change Mitigation and Adaptation in India, sponsored by British High Commission.
        </li>
        <li>
            Assessing the impacts of projects supported by UNDP GEF Small Grants Program (SGP) and their contributions to achieve global environmental benefits, sponsored by UNDP Small Grant Programme.
        </li>
        <li>
            Vulnerability and Adaptation in Indian Agriculture within the context of economic changes, sponsored by Canadian International Development Agency (CIDA) and Government of Norway.
        </li>
        <li>
            UNDP-IRRI project on Methane Emission from Flooded Rice Fields in South and South East Asian countries.
        </li>
        <li>
            DST-IARI collaborative project on Research on the effects of different nitrification inhibitors and nitrogenous fertilizers on rice and wheat yield and trace gases (CH4 and N2O) emission and its mitigation aspects in Rice-Wheat Cropping systems.
        </li>
        <li>
            Instructor for the World Bank Institute and National Institute of Disaster Management (NIDM) collaborative online course on Disaster Risk Management.
        </li>
        <li>
            Organised an International Workshop on Impact of Climate Change on Cultural Heritage at NIDM, New Delhi in collaboration with the International Council on Monuments and Sites (ICOMOS), Paris and Institute of Archeology, Delhi on 22 May 2007.
        </li>
        <li>
            Coordinated a NIDM & Central Statistical Organisation collaborative project on Developing National Disaster Statistics.
        </li>
        <li>
            Organised a session on Climate Change and Drought in the First Indian Disaster Management Congress, 29-30 Oct, 2006, Vigyan Bhawan, New Delhi.
        </li>
        <li>
            As a Course coordinator organised District Disaster Management Plan preparation training for senior level district officer (including IAS and IPS officers) at AMR-Andhra Pradesh Academy of Rural Development, Rajendranagar, Hyderabad, 28 Feb to 2 March 2007.
        </li>
        <li>
            As a Course Coordinator organised National level Drought Mitigation and Management Training at NIDM, New Delhi for senior level state/district officers from all drought affected states of India. 19-23 March, 2007.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div> -->

<!-- Footer -->
<footer id="contact" class="w3-container w3-padding-top-32 w3-center w3-green">  
  <h1>Contact us:</h1>
  <div class="w3-xlarge w3-padding-32 w3-text-white">
    Indian Institute of Technology Guwahati<br>
    School of Agro and Rural Technology<br>
    Surjyamukhi Road, North, Amingaon<br>
    Guwahati, Assam 781039<br><br>
    Email: <a href="mailto: sudipmitra@iitg.ac.in"  target="_blank">sudipmitra@iitg.ac.in</a>
    
 </div>
 <div class="w3-light-green">
  <p>Designed and developed by <a href="oshin94.github.io" target="_blank">Arnab Paul Choudhury</a></p>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
