<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-group,.fa-chalkboard-teacher {font-size:200px}

</style>
<body>
  
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-opacity-min">
    <a class="w3-bar-item w3-button w3-hide-large w3-left w3-padding-large w3-hover-white w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a> -->
    <a href="./contact.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Publications</a>
    <a href="./research.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Research</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">PI</a>
    <a href="./index.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Home</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-large">
    <a href="./contact.html" class="w3-bar-item w3-center w3-button w3-padding-large">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-center w3-button w3-padding-large">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-center w3-button w3-padding-large">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-center w3-button w3-padding-large">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-center w3-button w3-padding-large">Publications</a>
    <a href="./research.html" class="w3-bar-item w3-center w3-button w3-padding-large">Research</a>
    <a href="#" class="w3-bar-item w3-center w3-button w3-padding-large">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-center w3-button w3-padding-large">PI</a>
    <a href="./index.html" class="w3-bar-item w3-center w3-button w3-padding-large">Home</a>
  </div>
</div>

<!-- Header big size-->
<header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-small" style="padding:64px">
  <div class="w3-row">
    <div class="w3-container w3-col l2">    </div>
    
    <div class="w3-container w3-col l2 w3-center w3-image">
      <img src="IIT_Guwahati_Logo.png" style="max-width: 150px;">
    </div>
    
    <div class="w3-container w3-col l5 w3-center">
      <h2 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h2>
      <h3><i>..linking science with society..</i></h3>
    </div>
    
    <div class="w3-container w3-col l2"></div>

  </div>
</header>

<!-- Small size -->
<header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-large w3-hide-medium" style="padding-top:64px">
    <div class="w3-row">
      <div class="w3-container w3-col l2">    </div>
      
      <div class="w3-container w3-col l2 w3-center w3-image">
        <img src="IIT_Guwahati_Logo.png" style="max-width: 100px;">
      </div>
      
      <div class="w3-container w3-col l5 w3-center">
        <h4 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h4>
        <h4><i>..linking science with society..</i></h4>
      </div>
      
      <div class="w3-container w3-col l2"></div>
  
    </div>
</header>

<!-- First Grid -->
<script src="awesome-icons.js"></script>

<div class="w3-row-padding w3-container" style="padding-top: 64px;">
  <div class="w3-content">
    <div class="w3-third w3-center w3-hide-small" style="padding-right: 16px;">
        <i class="fa fa-chalkboard-teacher w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <!-- small screen -->
    <div class="w3-third w3-center w3-hide-large w3-hide-medium">
        <i class="fa fa-chalkboard-teacher w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>
    <div class="w3-twothird w3-padding-32">
      <h1>Principal Investigator</h1>
      <h5 class="w3-light-grey">
        Dr. Sudip Mitra, MNASc<br>
        Head, Centre for Disaster Management & <br>
        Associate Professor, School of Agro & Rural Technology<br>
        Fulbright Fellow, UC Davis, USA<br>        
        Indian Institute of Technology Guwahati (IITG)<br>        
        Email: <a href="sudipmitra@iitg.ac.in">sudipmitra@iitg.ac.in</a> / <a href="sudipmitra@yahoo.com">sudipmitra@yahoo.com</a><br>
        Profile: <a href="https://www.iitg.ac.in/crt/sudip_mitra/" target="_blank">https://www.iitg.ac.in/crt/sudip_mitra/</a>
      </h5><br>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-container" style="padding-bottom: 64px;">
    <div class="w3-content">
        <h2>Experiences</h2>
        <p class="w3-text-grey">Since Jan 2017 Dr. Sudip Mitra is an Associate Professor at the Indian Institute of Technology (IIT) Guwahati, Assam. Prior to this, he has served as regular faculty at various institutes/universities viz. Tezpur (Central) University, Assam; Jawaharlal Nehru University (JNU), New Delhi; National Institute of Disaster Management (NIDM), New Delhi. Post PhD, since 2000, Dr. Mitra has been working in the fields of natural resources management, livelihood, climate change (Vulnerability & Adaptation) and greenhouse gases management in agriculture sector.<br><br>
        Earlier, he has worked in various National and International Organisations viz. M S Swaminathan Research Foundation (MSSRF), Chennai; The Energy and Resources Institute (TERI) and TERI University; Division of Ecology and Natural Resources at the Centre for Development Research (ZEF), University of Bonn, Germany etc. Dr. Mitra also worked as a team member in one special international project coordinated by the Inter Academy Council-Amsterdam, the Netherlands. This project studied the Science and Technology Strategies for Improving Agricultural Productivity, Food Security and Environment in Africa and was carried out on request of then UN Secretary General Mr. Kofi Annan. Dr. Mitra has many years of experience in working with farmers and village communities and plays a significant role in connecting science & technology with society.<br><br>
        As a Fulbright Scholar (2012), he carried out a short study on greenhouse gas modeling for Californian rice ecosystem at University of California, Davis, USA, under the mentor-ship of Prof. Johan Six. His works in the field of agriculture and rural development has been recognized by Lead India and he has been inducted as a Fellow of Lead India.</p>
    </div>
  </div>


<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-chalkboard-teacher w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Member of Task Forces/Technical committees:</h1>
      <ul style="list-style-type: circle;">
        <li>Member of experts' committee on Global Technology Watch Group (Sustainable Agriculture), DST-TIFAC, Government of India (2017-)</li>
        <li>Task Force Member of MNREGA convergence of schemes under Ministry of Rural Development, Government of India (2008)</li>
      </ul>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
