<!DOCTYPE html>
<html lang="en">
<title>AEL Lab</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-group,.fa-chalkboard-teacher {font-size:200px}

</style>
<body>
  
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-opacity-min">
    <a class="w3-bar-item w3-button w3-hide-large w3-left w3-padding-large w3-hover-white w3-xlarge w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a> -->
    <a href="./contact.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Publications</a>
    <a href="./research.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Research</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">PI</a>
    <a href="../index.html" class="w3-bar-item w3-button w3-right w3-hide-small w3-hide-medium w3-padding-large w3-hover-green">Home</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-large">
    <a href="./contact.html" class="w3-bar-item w3-center w3-button w3-padding-large">Contact us</a>
    <a href="./news.html" class="w3-bar-item w3-center w3-button w3-padding-large">News</a>
    <a href="./gallery.html" class="w3-bar-item w3-center w3-button w3-padding-large">Gallery</a>
    <a href="./team.html" class="w3-bar-item w3-center w3-button w3-padding-large">Team</a>
    <a href="./publications.html" class="w3-bar-item w3-center w3-button w3-padding-large">Publications</a>
    <a href="./research.html" class="w3-bar-item w3-center w3-button w3-padding-large">Research</a>
    <a href="#" class="w3-bar-item w3-center w3-button w3-padding-large">Teaching</a>
    <a href="./PI.html" class="w3-bar-item w3-center w3-button w3-padding-large">PI</a>
    <a href="../index.html" class="w3-bar-item w3-center w3-button w3-padding-large">Home</a>
  </div>
</div>

<!-- Header big size-->
<header class="w3-container w3-white w3-border-bottom w3-border-light-grey w3-hide-small" style="padding-top:64px">
  <div class="w3-row">
    <div class="w3-container w3-col l2">    </div>
    
    <div class="w3-container w3-col l2 w3-center w3-image">
      <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 150px;">
    </div>
    
    <div class="w3-container w3-col l5 w3-center">
      <h2 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h2>
      <h3><i>..linking science with society..</i></h3>
    </div>
    
    <div class="w3-container w3-col l2"></div>

  </div>
</header>

<!-- Small size -->
<header class="w3-container w3-white w3-border-bottom w3-border-grey w3-hide-large w3-hide-medium" style="padding-top:64px">
    <div class="w3-row">
      <div class="w3-container w3-col l2">    </div>
      
      <div class="w3-container w3-col l2 w3-center w3-image">
        <img src="../img/IIT_Guwahati_Logo.png" style="max-width: 100px;">
      </div>
      
      <div class="w3-container w3-col l5 w3-center">
        <h4 class="w3-text-green">Agro-Ecotechnology Laboratory, AEL</h4>
        <h4><i>..linking science with society..</i></h4>
      </div>
      
      <div class="w3-container w3-col l2"></div>
  
    </div>
  </header>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<!-- First Grid -->
<script src="../static/awesome-icons.js"></script>

<div class="w3-row-padding w3-container">
  <h2 class="w3-center w3-border-top w3-border-grey w3-blue w3-text-white">Teaching</h2>
  <div class="w3-content">
    <div>
      <h3>Indian Institute of Technology Guwahati</h3>
      <h5 class="w3-light-grey">
        <ul>
          <li>
            RT 501 (Livelihood Management and Agro-Technology) for MTech/PhD
          </li>
          <li>
            RT 510 (Methodology for Field Research)
          </li>
          <li>
            Communication and Field trips
          </li>
        </ul>
      </h5>
    </div>
  </div>
</div>


<!-- Second Grid -->
<div class="w3-row-padding w3-container">
  <div class="w3-content">
      <h3>Tezpur University</h3>
      <h5 class="w3-light-grey">
        <ul>
          <li>
            Agriculture and Environmental Sustainability
          </li>
          <li>
            Solid waste management
          </li>
          <li>
            Research Methodology,
          </li>
          <li>
            Natural Resources and Biodiversity
          </li>
          <li>
            Fundamentals of Environmental Science
          </li>
          <li>
            Elementary Environmental Science
          </li>
          <li>
            Environmental Economics and management
          </li>
          <li>
            Global Environmental Policy
          </li>
        </ul>
      </h5>
  </div>
</div>


<div class="w3-row-padding w3-container">
  <div class="w3-content">
    <div>
      <h3>Jawaharlal Nehru University</h3>
      <h5 class="w3-light-grey">
        <ul>
          <li>
            Analytical techniques
          </li>
          <li>
            Soil Science
          </li>
          <li>
            Soil & land management
          </li>
          <li>
            Water Conservation
          </li>
        </ul>
      </h5>
    </div>
  </div>
</div>

<!-- <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div> -->

<!-- Footer -->
<footer id="contact" class="w3-container w3-padding-top-32 w3-center w3-green">  
  <h1>Contact us:</h1>
  <div class="w3-xlarge w3-padding-32 w3-text-white">
    Indian Institute of Technology Guwahati<br>
    School of Agro and Rural Technology<br>
    Surjyamukhi Road, North, Amingaon<br>
    Guwahati, Assam 781039<br><br>
    Email: <a href="mailto: sudipmitra@iitg.ac.in"  target="_blank">sudipmitra@iitg.ac.in</a>
    
 </div>
 <div class="w3-light-green">
  <p>Designed and developed by <a href="oshin94.github.io" target="_blank">Arnab Paul Choudhury</a></p>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
